@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.letra-1 {
  font-family: "Oswald", serif;
}

.letra-2 {
  font-family: "Rubik", sans-serif;
}

.letra-3 {
  font-family: "DM Sans", sans-serif;
}

.navBar {
  box-shadow: 0px 1px 5px;
}

.imgMision {
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
  box-shadow: 0px 1px 5px;
}

.descriptionCInfo {
  box-shadow: 0px 1px 5px black;
}

.products-swiper {
  max-width: 100%;
  padding: 20px 0;
  overflow: visible;
}

.products-swiper .swiper-wrapper {
  overflow: visible !important;
}

.products-swiper .swiper-slide {
  height: auto;
  overflow: visible;
}

.products-swiper .swiper-button-next::after,
.products-swiper .swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-button-next-custom.swiper-button-disabled,
.swiper-button-prev-custom.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-12-9 20:46:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}